@{
  ViewData["Title"] = "Home Page";
}

<h1>National Parks</h1>

<h3>Actions:</h3>

<p>@Html.ActionLink("Add a new park", "Create")</p>

<h3>Parks:</h3>

<ol>
  @foreach (Park park in Model)
  {
    <li>
      <li><strong>@park.Name</strong><a href="/Parks/Details/@(park.ParkId)">View Details</a></li>
    </li>
  }
</ol>